.app {
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.location-pin {
    display: inline-block;
    margin-right: 5px;
    background-image: url("../public/location-pin.png");
    background-size: 12px; 
    height: 15px;
    width: 12px;
}

.location {
    display: inline-block;
    font-size: 20px;
}

.date {
    font-size: 16px;
    margin-bottom: 15px;
}
