p {
    font-size: 24;
}

.app {
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.location-pin {
    display: inline-block;
    margin-right: 5px;
}

.location {
    display: inline-block;
}
